
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <label for="idInputCodigo">Codigo</label>
            <input type="text" class="form-control" id="idInputCodigo" name="name" disabled>
        </div>
        <div class="col-md-6">
            <label for="name">Nombre</label>
            <input type="text" class="form-control" id="idInputName" name="name" enabled>
        </div>

    </div>    
    <div class="row">
        <div class="col-md-6">
            <label for="idInputPrice">Precio</label>
            <input type="number" class="form-control" id="idInputPrice" name="precio" enabled>
        </div>
        <div class="col-md-6">
            <label for="idInputTalle">Talle</label>
            <input type="text" class="form-control" id="idInputTalle" name="name" enabled>
        </div>
    </div>    
    <div class="row">
        <div class="col-md-6">
            <label for="idInputMarca">Marcaa</label>
            <input type="text" class="form-control" id="idInputMarca" name="precio" enabled>
        </div>
        <div class="col-md-6">
            <label for="idInputTipoProduct">Tipo producto</label>
            <input type="text" class="form-control" id="idInputTipoProduct" name="precio" enabled>
        </div>
    </div>

</div>