.form-control select {
    border: 1px solid #ced4da;
    padding: 0.375rem 0.75rem;
    background-color: #d31515;
    color: #495057;
    font-size: 1rem;
    font-family: inherit;
  }
  
  .form-control select:focus {
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  }