<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1 class='display-6 mb-3'>Product list</h1> 
      <button (click)="updateProductById()" class="btn btn-primary">Add product</button>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Price</th>
            <th scope="col">Size</th>
            <th scope="col">Accion</th>
          </tr>
        </thead>
        <tbody class="table-group-divider">
          <tr *ngFor="let product of products">
            <th class="pt-3" scope="row">{{ product.id }}</th>
            <td class="pt-3">{{ product.name }}</td>
            <td class="pt-3">${{ product.price }}</td>
            <td class="pt-3">{{ product.size }}</td>
            <td><button (click)="updateProductById(product)" class="bi bi-pencil btn btn-outline-success rounded mr-2"></button>
            <button (click)="selectedProduct=product" class="bi bi-trash btn btn-outline-danger rounded" type="button" data-bs-toggle="modal" data-bs-target="#confirmDeleteModal" ></button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<div class="modal fade" id="confirmDeleteModal" tabindex="-1" aria-labelledby="deleteModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="deleteModal">Delete product</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Are you sure you want to delete the product: {{selectedProduct?.name}}?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        <button (click)="deleteProductById(selectedProduct?.id)"  type="button" class="btn btn-primary" data-bs-dismiss="modal">Delete</button>
      </div>
    </div>
  </div>
</div>
